body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#input.jumbotron {
  margin-right: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

#output.jumbotron {
  display: none;
  margin-right: 50%;
  margin-left: 5%;
  margin-top: 5%;
}